@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-50 text-gray-900 font-sans;
  font-family: 'Saira', sans-serif;
}
a {
  @apply text-brand-blue hover:text-brand-orange transition-colors;
}