@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-brand-light text-brand-dark font-sans;
}
.skill-badge {
  @apply px-4 py-2 bg-brand-purple/10 text-brand-purple font-medium rounded-full border border-brand-purple/20 text-sm;
}
